html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
}

:root {
  --primary-text-black: #212121;
  --primary-text-gray: #757575;
  --text-accent: #2196f3;
  --white: #ffffff;
  --address-footer: rgba(255, 255, 255, 0.6);
  --background-hero: #2f303a;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-black);
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid var(--background-hero);
}

.header {
  padding-left: 0;
  padding-right: 0;
}

.logo {
  font-family: Raleway;
  color: var(--text-accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.black-logo {
  color: var(--primary-text-black);
}

.white-logo {
  color: var(--white);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--text-accent);
}

.head-link {
  color: var(--primary-text-black);
}

.address-link {
  color: var(--primary-text-gray);
}

.section {
  margin-bottom: 94px;
}

.hero {
  color: var(--white);
  background-color: var(--background-hero);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 220px;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  color: var(--white);
  background-color: var(--text-accent);
  font-weight: 700;
  font-size: 16px;
  font: inherit;
  line-height: 1.87;
  text-decoration: none;
  list-style-type: none;

  border-radius: 4px;
  padding: 15px 32px;
  min-width: 200px;
  border: 1px solid transparent;
}

/* Преимущества */

.feature {
  margin-bottom: 30px;
}

/* .feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}

.feature-list .item {
  width: 625px;
  margin: 40px 75px;
}

.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
} */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-text-black);
  padding-bottom: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--primary-text-black);
  margin-bottom: 50px;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-gray);
}

/* Team */
.team {
  padding-top: 94px;
}

.team-padding {
  padding-bottom: 50px;
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  color: var(--primary-text-black);
  margin-bottom: 30px;
}

.team-item .description {
  font-weight: normal;
  color: var(--primary-text-gray);
}

.footer {
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--background-hero);
  font-style: normal;
}

.footer-address {
  color: var(--white);
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
